{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">
  {%- if site.github_username -%}
    <li>
      <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}" title="{{ social.github | escape }}" target="_blank">
        <svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>Github
      </a>
    </li>
  {%- endif -%}

  {%- if site.linkedin_username -%}
    <li>
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}" title="{{ social.linkedin | escape }}" target="_blank">
        <svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>Linkedin
      </a>
    </li>
  {%- endif -%}

  {%- if site.codesignal_username -%}
    <li>
      <a href="https://app.codesignal.com/profile/eric_m125" title="social.codesignal" target="_blank">
        <img class="svg-icon grey" src="hackerrank-brands.svg"></img>CodeSignal
      </a>
    </li>
  {%- endif -%}  

  {%- if site.hackerrank_username -%}
    <li>
      <a href="https://www.hackerrank.com/{{ site.hackerrank_username | cgi_escape | escape }}" title="{{ social.hackerrank | escape }}" target="_blank">
        <img class="svg-icon grey" src="hackerrank-brands.svg"></img>HackerRank
      </a>
    </li>
  {%- endif -%}  
</ul>